<%= simple_form_for(@match) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :time %>
    <%= f.input :player_1, collection: Player.all %>
    <%= f.input :player_1_score %>
    <%= f.input :player_2, collection: Player.all %>
    <%= f.input :player_2_score %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
